NODE_ENV=development
PORT=4000
APP_ORIGIN=http://localhost:3000
DATABASE_URL="mysql://root:@localhost:3306/skillbridge_ng"
SESSION_DAYS=14
COOKIE_NAME=skillbridge_session
PAYSTACK_SECRET_KEY=sk_test_replace_me
PAYSTACK_PUBLIC_KEY=pk_test_replace_me
